<div id="main">
  <h1>
    Eli Yazdi
  </h1>
  <p>
  Hey! I’m Eli, and I’m just another nerd with
  way too much free time. I’ve mostly done web
  development, but I’ve been getting into iOS
  development recently as well. I also have a weird hobby
  of learning spoken languages, and I’m probably more
  into Doctor Who than I should be.
  </p>
  <ul id="infoUL">
    <li>
      Check out my <a href="https://github.com/eliyazdi" target="_blank">GitHub</a>
    </li>
    <li>
      Feel free to <a href="mailto:hello@eliy.co" target="_blank">email</a> me
    </li>
    <li>
      I'm also on <a href="https://twitter.com/eli_yazdi" target="_blank">Twitter</a>
    </li>
    <li>
      Download my <a href="/assets/resume.pdf" target="_blank">resume</a>
    </li>
  </ul>
</div>
