.skill{
  width: 90px;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}
.skill img{
  width: auto;
  height: 80px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.skill span{
  width: 100%;
  display: block;
}
